[Desktop Entry]
Name=Engauge-digitizer
Type=Application
Encoding=UTF-8
Comment=Extract data from graphs
TryExec=engauge
Exec=engauge %F
MimeType=text/plain
Categories=Science;DataVisualization
Icon=/usr/share/pixmaps/engauge-digitizer.xpm
